.playlist {
  font-size: 14px;
  padding: 8px 0;
  display: flex;
}

.playlistLink {
  text-overflow: ellipsis;
  margin-left: 16px;
  overflow-x: hidden;
  color: #b3b3b3;
  text-decoration: none;
}

.playlistLink:hover,
.playlistLink:focus,
.playlistLink.selected {
  color: white;
}

.container {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.list {
  margin-top: 8px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
