
.header {
    z-index: 3;
    /* background-color: rgba(8, 8, 8, 0); */
    grid-area: content;
    transition: background-color 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
