.artists {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: grey;
    text-align: right;
}

.artist {
    display: inline;
    text-decoration-line: none;
    font-size: 14px;
    color: inherit;
    overflow: hidden;
}

.comma {
    display: inline;
    margin-right: 4px;
    font-size: 14px;
    color: inherit;
}

.artist:hover {
    text-decoration-line: underline;
}