.bar {
  position: relative;
  width: 100%;
  background-color: white;
  height: 5px;
  border-radius: 8px;
}

.innerBar {
    position: absolute;
    background-color: grey;
    left: 0;
    height: inherit;
    border-radius: 8px;
}

.bar:hover > .innerBar, .bar.dragging > .innerBar {
    background-color: #1db954;
}

.button {
    position: absolute;
    cursor: pointer;
    outline: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    padding: 0;
    top: 50%;
    bottom: 50%;
    margin: auto 0;
    border: 0;
}