


.content {
    grid-area: content;
    background-color: #121212;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.innerContent {
    height: calc(100% - 64px);
}

.start {
    height: 64px;
}